---
title: method
---

- method = ldata.strategies[name]

= partial "partials/intro", locals: { method: method }

%section.project-wrapper
  - ldata.projects.each do |name, project|
    - if !project.strategy.nil?
      - project.strategy.each do |strategy|
        - if strategy == method.title
          = partial "partials/project", locals: { name: name, project: project }
