body {
  background-color: $base-background-color;
  color: $base-font-color;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $medium-screen) {
    width: 1200px;
    padding: 0;
  }
}
