---
title: domain
---

.intro
  .intro__item
    %h1.intro__title 
      = domain_name
%section.project-wrapper
  - ldata.projects.each do |name, project|
    - if !project.domain.nil?
      - project.domain.each do |domain|
        - if domain == domain_name
          = partial "partials/project", locals: { name: name, project: project }
