%footer.page-footer
  .social
    %ul.social__list
      %li.social__item
        = link_to "https://www.facebook.com/neoconstructivist", 
                  class: "social__link" do
          %i.fa.fa-2x.fa-facebook{ "aria-hidden": "true" }
      %li.social__item
        = link_to "https://www.instagram.com/neoconstructivist",
                  class: "social__link" do
          %i.fa.fa-2x.fa-instagram{ "aria-hidden": "true" }
      %li.social__item
        = link_to "https://twitter.com/neoconstructive",
                  class: "social__link" do
          %i.fa.fa-2x.fa-twitter{ "aria-hidden": "true" }
      %li.social__item
        = link_to "mailto:hello@neoconstructivist.com",
                  class: "social__link" do
          %i.fa.fa-2x.fa-envelope{ "aria-hidden": "true" }
