%footer.page-footer
  .social
    %ul.social__list
      %li.social__item
        = link_to "Facebook",
                  "https://www.facebook.com/neoconstructivist", 
                  class: "social__link" 
      %li.social__item
        = link_to "Instagram", 
                  "https://www.instagram.com/neoconstructivist",
                  class: "social__link"
      %li.social__item
        = link_to "Twitter",
                  "https://twitter.com/neoconstructive",
                  class: "social__link" do
      %li.social__item
        = link_to "Email",
                  "mailto:hello@neoconstructivist.com",
                  class: "social__link" do
