%article.method__item
  = link_to "#", class: "method__link" do
    = image_tag method.image, class: "method__image"
    .method__meta
      - if method.color == "dark" 
        %h1.method__title 
          = method.title
      - else
        %h1.method__title.method__title--dark
          = method.title
      