%article.method__item
  = link_to "#", class: "method__link" do
    = image_tag "assets/images/biennale.jpg", class: "method__image"
    .method__meta
      %h1.method__title Meta Archive
      %p.method__text Dynamic archive of objects and their contextual fields
    .method__description
      .method__name Venice Biennale Digital Interaction
      .method__detail 
        = lorem.sentences 2 
    %span.method__view View Project
    