---
title: method
---

= partial "partials/intro", locals: { method: method }

%section.project-wrapper
  - data.contentful.projects.each do |id, project|
    - if !project.strategy.nil?
      - project.strategy.each do |strategy|
        - if strategy == method.title
          = partial "partials/project", locals: { project: project }
