---
title: projects
---

- method = data.strategies[name]

= partial "partials/intro", locals: { method: method }
%section.project
  - 5.times do |project|
    = partial "partials/project", locals: { project: project }
