.about-wrapper {
  @include grid-container;

  margin: 90px 0;
}

.about__photo {
  @include grid-column(12);

  margin-bottom: 30px;

  @media (min-width: $medium-screen) {
    @include grid-column(6);

    margin-bottom: 0;
  }
}

.about__info {
  @include grid-column(12);

  @media (min-width: $medium-screen) {
    @include grid-column(6);
  }
}

.about__item {
  margin-bottom: 40px;
}

.about__title {
  font-size: 40px;
  line-height: 1.2;
}

.about__text {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.5;

  &--italic {
    font-style: italic;
  }
}
