.page-footer {
  @include outer-container(100%);
}

.copyright {
  @include span-columns(6);

  font-size: 18px;
  line-height: 1.2;
}

.social {
  @include span-columns(6);

  margin-bottom: 120px;
}

.social__list {
  font-size: 0;
}

.social__item {
  display: inline-block;
  margin-left: 25px;

  font-size: 18px;
  line-height: 1.2;
  vertical-align: middle;

  &:first-child {
    margin-left: 0;
  }
}

.social__link {
  color: $base-font-color;

  &:hover {
    color: $base-font-color;
    border-bottom: 1px solid $base-font-color;
  }
}
