.page-header {
  @include outer-container(100%);

  padding: 45px 0;

  background-color: $base-background-color;
}

.logo {
  @include span-columns(6);
}

.logo__link {
  color: $base-font-color;

  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.7px;

  &:hover {
    color: $base-font-color;
  }
}

.menu {
  @include span-columns(6);
}

.menu__list {
  font-size: 0;
}

.menu__item {
  display: inline-block;
  margin-left: 30px;

  font-size: 18px;
  line-height: 1.35;
  vertical-align: middle;

  &:first-child {
    margin-left: 0;
  }
}

.menu__link {
  color: $base-font-color;
  border-bottom: 1px solid $base-font-color;

  &:hover {
    color: $base-font-color; 
    border-bottom: 0; 
  }
}
