---
title: About
---

%section.about-wrapper
  .about__photo
    = image_tag "assets/images/about.jpg", class: "about__image"
  .about__info
    .about__item 
      %h1.about__title
        What we do
      %p.about__text.about__text--italic
        "It is essential that we be convinced of the goodness of human nature, and we must act as though people are good." 
      %p.about__text
        Everything we do is a product of bold thinking, an ability to read, write and speak the language of both brands and consumers.
    .about__item 
      %h1.about__title
        Who we are
      %p.about__text
        Skills and competancies Everything we do is a product of bold thinking, an ability to read, write and speak the language of both brands and consumers.
