---
title: Contact
---

%section.contact-wrapper
  .contact__photo
    = image_tag "assets/images/about.jpg", class: "about__image"
  .contact__info
    .contact__item 
      %h1.contact__title
        Contact
      %p.contact__email
        = link_to "hello@neoconstructivist.com", "mailto:hello@neoconstructivist.com", class: "contact__link"
        
