---
title: The Art of Conceptual Engineering
---

.intro
  .intro__item
    %h1.intro__title 
      = t("main.title")
    %p.intro__text 
      = t("main.text")
%section.method
  - data.strategies.each do |name, method|
    = partial "partials/method", locals: { name: name, method: method }
