---
title: main
---

- data.main.each do |method|
  = partial "partials/intro", locals: { method: method }
%section.method
  - data.strategies.each do |name, method|
    = partial "partials/method", locals: { name: name, method: method }
